<!DOCTYPE html>
<html>
  <head>
    <title>Fairy Tale Remix</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">  </head>
  <body>
    <div class="container">
      <h1>Fairy Tale Remix</h1>
      <p><a href="http://terribleminds.com/ramble/2014/01/24/flash-fiction-challenge-fairy-tales-remixed/">Background</a></p>

      <p>
        Retell <strong><a href="<%= @tale_url %>"><%= @tale_title %></a></strong> in the <strong><%= @genre %></strong> genre.
      </p>
    </div>
  </body>
</html>